<header>
    <section id="intro" class="l-image-box image-banner l-relative">
        <section class="image-box-content l-absolute container ">
            <div class="row">
                <div class="col-lg-12 l-text-center">
                    <div class="image-header l-inline-block">
                        <h1>Abhik Mitra</h1>
                        <p class="image-sub-text">
                            <span>Front End Developer</span>
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </section>
</header>