<div class="row">
    <div class="col-lg-12">

        <div class="personal-details l-gap-section-above l-gap-section-below text-center">

            <div class="image-header l-inline-block personal-details-text">
                <p class="image-sub-text personal-details-text">
                    <span class="text">Who Am I ?</span>
                </p>
                <h1 class="personal-details-text">Personal Details</h1>

            </div>
        </div>
    </div>

</div>
<div class="row">
    <div class="col-lg-3">
        <img class="l-full-width" src="images/me.jpg">

    </div>
    <div class="col-lg-4">

        <ul class="personal-details-list">
            <li class="detail-item">Name:Abhik Mitra</li>
            <li class="detail-item">Date of birth: 4th July 1989</li>
            <li class="detail-item">Nationality: Citizen of India</li>
            <li class="detail-item">Address: Kolkata </li>
            <li class="detail-item">Phone: +91 9945116525 </li>
            <li class="detail-item">
                Email:
                <a href="mailto:abhik.mitra@live.com">abhik.mitra@live.com</a>
            </li>
        </ul>

    </div>
    <div class="col-lg-5">

        <h3 class="text-uppercase">Profesional Profile</h3>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare sem sed quam tempus aliquet vitae eget
            dolor. Proin eu ultrices libero. Curabitur vulputate vestibulum elementum. Suspendisse id neque a nibh mollis
            blandit. Quisque varius eros ac purus dignissim.</p>

        <p>Praesent sit amet massa suscipit, auctor sapien non, egestas felis. Maecenas mattis aliquet est vitae
            dignissim. Suspendisse aliquam lacus mauris, id placerat felis faucibus quis. Suspendisse potenti. Etiam
            mattis, eros id porta iaculis, nisl purus dapibus leo, a lacinia tellus nunc sed nunc. </p>

    </div>

</div>