<div class="row">
    <div class="col-lg-12">

        <div class="personal-details l-gap-section-above l-gap-section-below text-center">

            <div class="image-header l-inline-block personal-details-text">
                <p class="image-sub-text personal-details-text">
                    <span class="text">MY WORK</span>
                </p>

                <h1 class="personal-details-text">PORTFOLIO</h1>

            </div>
        </div>
    </div>

</div>
<div class="row">
    <div class="col-lg-12">
        <div class="row work-items" >
            <div class="col-lg-3">
                <div class="item-preview">
                    <img src="images/me.jpg" alt="..." class="img-thumbnail">
                </div>
            </div>
            <div class="col-lg-3">
                <div class="item-preview">
                    <img src="images/me.jpg" alt="..." class="img-thumbnail">
                </div>
            </div>
            <div class="col-lg-3">
                <div class="item-preview">
                    <img src="images/me.jpg" alt="..." class="img-thumbnail">
                </div>
            </div>
            <div class="col-lg-3">
                <div class="item-preview">
                    <img src="images/me.jpg" alt="..." class="img-thumbnail">
                </div>
            </div>
        </div>
    </div>
</div>

