//
// Variables
// --------------------------------------------------

// Global values
// --------------------------------------------------

// Grays
// -------------------------
@black: #000;
@grayDarker: #252525;
@grayDark: #5f5f5f;
@white: #ffffff;

// Navbar
// -------------------------

@navLogo: @grayDarker;
@navLink: @grayDarker;
@navLinkHover: @grayDark;